<a href="https://colab.research.google.com/github/eildes06/Randomlyworks/blob/main/deforlambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Def

In [1]:
def kareal(x):
    return x**2
print(kareal(8))

64

Lamda

In [2]:
print((lambda x:x**2)(8))

64

In [3]:
kare_al= lambda x: x**2
print(kare_al(8))

64

Lambda fonksiyonları bilinen def fonksiyonlarının içinde, map(), filter(), reduce() veya Pandas kütüphanesindeki appy() fonksiyonları ile birlikte kullanılabilir.

In [4]:
def fonk(num):
  return lambda x: x*num
ilk= fonk(5)
print(ilk)

<function fonk.<locals>.<lambda> at 0x7fbbcedda950>

In [5]:
iki=fonk (5)(2)
iki

10

Filter ile Lambda Kullanım

In [6]:
list_number = [2, 4, 6, 8, 9, 10, 12, 13]

In [7]:
fill_l = list(filter(lambda x: (x>7)and (x<12),list_number))
print(fill_l)

[8, 9, 10]

In [8]:
fill_lj = list(map(lambda x: (x**3),list_number))
fill_lj

[8, 64, 216, 512, 729, 1000, 1728, 2197]

In [9]:
fill_lw=list(filter(lambda x: (x%2==0),list_number))
fill_lw

[2, 4, 6, 8, 10, 12]

Map ile Lambda Kullanımı

In [10]:
list_0 = [5, 7, 22, 9875]

In [11]:
final_list = list(map(lambda x:x%2, list_0))
final_list

[1, 1, 0, 1]

liste birlestirme

In [12]:
list_1 = ["A:","B", "C"]
list_2 = [1, 2, 3]

In [13]:
list_merge = list(map(lambda x,y :(x + "-" + str(y)), list_1,  list_2))
list_merge

['A:-1', 'B-2', 'C-3']

In [14]:
list_11 = ["Ort_not","Ali", "Burak", "Can"]
list_21 = [60,100, 20, 30]

In [15]:
list_merge1 = list(map(lambda x,y :(x + ":" + str(y)), list_11,  list_21))
list_merge1

['Ort_not:60', 'Ali:100', 'Burak:20', 'Can:30']

In [16]:
dict_1 = {
    1: 'A',
    2: 'B',
    3: 'C',
    4: 'D',
}

In [17]:
dictChange= dict(map(lambda x: (x[0],x[1]+"-"+str(x[0])),dict_1.items()))
dictChange

{1: 'A-1', 2: 'B-2', 3: 'C-3', 4: 'D-4'}

Pandas Apply Fonksiyonu ile Lambda Kullanımı

In [18]:
import pandas as pd
import numpy as np
from datetime import datetime

In [19]:
df = pd.DataFrame({
    'name':['Weber', 'Durkheim', 'Comte'],
    'yearOfBirth':[1864, 1858, 1798],
    'countOfBook':[18, 10, 15],
    "any":[1,2,3]
})

# Değişken içerisinde normalizasyon
# 0 ve 1 arasına değerleri indirgeme

In [25]:
minValue = df["countOfBook"].min()
minMaxDifferenceValue = df["countOfBook"].max() - df["countOfBook"].min()

In [26]:
df["countOfBook"] = df["countOfBook"].apply(lambda x: (x - minValue) / minMaxDifferenceValue)
print(df["countOfBook"] )

0    1.000
1    0.000
2    0.625
Name: countOfBook, dtype: float64

In [27]:
df["age"] = df["yearOfBirth"].apply(lambda x: datetime.today().year - x)
print(df)

       name  yearOfBirth  countOfBook  any  age
0     Weber         1864        1.000    1  158
1  Durkheim         1858        0.000    2  164
2     Comte         1798        0.625    3  224